.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 18%; /* Set the width for uniform dimensions */
  box-sizing: border-box;
  text-align: center; /* Center the content horizontally */
}

.movie-cover {
  width: 125px;
  height: auto;
}
